<%= form_for(pprocess) do |f| %>
  <% if pprocess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pprocess.errors.count, "error") %> prohibited this pprocess from being saved:</h2>

      <ul>
      <% pprocess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :process %>
    <%= f.number_field :process %>
  </div>

  <div class="field">
    <%= f.label :customer_id %>
    <%= f.text_field :customer_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
