<p id="notice"><%= notice %></p>

<p>
  <strong>Opnion:</strong>
  <%= @opnion.opnion %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @opnion.customer %>
</p>

<p>
  <strong>User:</strong>
  <%= @opnion.user %>
</p>

<p>
  <strong>Pprocess:</strong>
  <%= @opnion.pprocess %>
</p>

<%= link_to 'Edit', edit_opnion_path(@opnion) %> |
<%= link_to 'Back', opnions_path %>
