<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<% if user_signed_in? %>
			<%= current_user.name %>
			<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to 'Logar', new_user_session_path %>
		<% end %>
	</nav>

	<%= yield %>

</body>
</html>
